body {
    background-color: rgb(162, 243, 216);
    color: #087e74;
    margin: 10px;
}

header {
    border-bottom: solid 2px #03856f;
    padding: 20px;
    font-size: 20px;
    color:#23eecc;
}

.chamada {
    background: #017981;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 25px;
}

footer {
    background-color: #057067;
    color: aquamarine;
    bottom: 0;
    position: fixed;
    width: 100%;

}

footer p {
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
}