body {
    background-color: rgb(162, 243, 216);
    color: #10968b;
    margin: 10px;
}

header {
    border-bottom: solid 2px #b8e2bf;
    padding: 20px;
    font-size: 32px;
    color:#148f7a;
}

.chamada {
    background: #56b3b9;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 20px;
}

p {
    font-size: 20px;
}

footer {
    background-color: #000;
    color: aquamarine;
    bottom: 0;
    position: fixed;
    width: 100%;

}

footer p {
    text-align: center;
    font-size: 35px;
    margin-top: 5px;
}